{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
    <div{{ content_attributes.addClass('content') }}>
        {%if content.tvdb_background%}
            <div class="serie-background clearfix" style="background:url('{{serie_background_url}}') no-repeat top center; background-size: cover;">
                <div class ="black" style="background-color: black; height: 400px; opacity: 0.8">
                    <div class="serie-header">
                        <div class="col-md-2">
                            {%if content.tvdb_poster%}
                                <div class="serie-page-poster">
                                    {{content.tvdb_poster}}
                                </div>
                            {%endif%}
                        </div>
                        <div class="col-md-8">
                            {#Title#}
                            <div class="serie-title">
                                {{ label }}
                            </div>
                            {#Overview#}
                            <div id="overview">
                                {%if content.body%}
                                    <div class="serie-description">
                                        {{content.body}}
                                    </div>
                                {%endif%}
                            </div>
                        </div>
                        <div class="col-md-2">
                            {#Air date and time #}
                            {%if content.tvdb_airsdayofweek%}
                                <div class="serie-air-date">
                                    {{content.tvdb_airsdayofweek}}
                                </div>
                            {%endif%}
                            {%if content.tvdb_airstime%}
                                <div class="serie-air-time">
                                    {{content.tvdb_airstime}}
                                </div>
                            {%endif%}
                        </div>

                        {#Serie information#}
                        <div class="col-md-8" id="serie-information">
                            <h3 id="information">Information</h3>
                            <div id="serie-info">
                                {%if content.tvdb_genre%}
                                    <div class="serie-genre">
                                        {{content.tvdb_genre}}
                                    </div>
                                {%endif%}
                                {%if content.tvdb_runtime%}
                                    <div class="serie-runtime">
                                        {{content.tvdb_runtime}}
                                    </div>  
                                {%endif%}
                                {%if content.tvdb_rating%}
                                    <div class="serie-rating">
                                        {{content.tvdb_rating}}
                                    </div>  
                                {%endif%}
                                {%if content.tvdb_status%}
                                    <div class="serie-status">
                                        {{content.tvdb_status}}
                                    </div>  
                                {%endif%}
                                {%if content.tvdb_firstaired%}
                                    <div class="serie-firstaired">
                                        {{content.tvdb_firstaired}}
                                    </div>
                                {%endif%}
                                {%if content.tvdb_network%}
                                    <div class="serie-network">
                                        {{content.tvdb_network}}
                                    </div>  
                                {%endif%}
                                {%if content.tvdb_aliases%}
                                    <div class="serie-aka">
                                        {{content.tvdb_aliases}}
                                    </div>
                                {%endif%}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {%endif%}
{#        <div class="container">
            <div class="col-md-8">
                <h2>Actors</h2>
                {%if content.tvdb_actors%}
                    <div class="serie-actors">              
                        {{content.tvdb_actors}}
                    </div>
                {%endif%}
            </div>
            <div id="news-sidebar" class="col-md-4">
                <h2>News!</h2>
                <h3>LaLa</h3>
                <p>A woman who moves into an apartment across the hall from two brilliant but socially awkward physicists shows them how little they know about life outside of the laboratory.</p>
            </div>
        </div>#}
    </div>
</article>