<div class="actor">
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ name }}</a>
    </h2>
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
</div>
